/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.app-container {
  max-width: 900px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
  font-weight: 700;
}

.search-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.search-input {
  padding: 12px 18px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 250px;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #007bff;
  outline: none;
}

.search-button {
  padding: 12px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 120px;
}

.search-button:hover {
  background-color: #0056b3;
}

.search-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.clear-button {
  padding: 12px 20px;
  font-size: 1rem;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 120px;
}

.clear-button:hover {
  background-color: #c0392b;
}

.loading, .error {
  font-size: 1.2rem;
  margin-top: 20px;
  color: #ff4d4d;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Cards menores */
  gap: 20px;
  padding: 20px;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px; /* Cards menores */
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-image {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 15px;
}

.product-title {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.product-rating {
  font-size: 0.9rem;
  color: #f39c12;
}

/* Estilo do botão Limpar Busca */
.clear-button {
  padding: 12px 20px;
  font-size: 1rem;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 120px; /* Ajusta a largura */
  margin-top: 15px; /* Adiciona uma margem para separar do botão de buscar */
}

.clear-button:hover {
  background-color: #c0392b;
}

.clear-button:focus {
  outline: none;
}
